nav ul{
  display: flex;
  list-style-type: none;
}
nav > ul::after{
  content:" " ;
}
nav ul li ul{
  position: absolute;
  display: none;
}
nav ul li:hover ul{
  display: block
}
nav ul li{
  margin: 15px;
}
a{
   text-decoration: none;
}